DB_HOST=localhost
DB_USER=root
DB_PASSWORD=''
DB_NAME=chatflow

JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:4200
PORT=3000
NODE_ENV=development

# Stripe (nuevo)
STRIPE_SECRET_KEY=sk_test_51TYww730xzODCiWBUd1TBfk6mVT7Npo4DLIDNQpD75dZgw2MS9ouPbZ0fmE66ypybIZNTaWS9jHZqvVZaOfmlvQi00UozfQxZ8
STRIPE_WEBHOOK_SECRET=whsec_a24ad68728affea88ccdc5fcce41946b276b0e6aae92e8fa52790729b411f02a
STRIPE_PUBLISHABLE_KEY=pk_test_51TYww730xzODCiWBnHOvntVP1EfnVPXiFeV9nWG4u4FbaZ93TWxZ33WMEw2vOS6WV5bj1oTJ6wXNWGpMVSB3BX1T00CqokfCOJ
